﻿@model App.UI.WEB.ASP.MVC.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Scholarship</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/web-assets/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap" rel="stylesheet">

    <!-- CSS Files -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">*@
    <link href="~/web-assets/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/web-assets/css/style.css">

    @*<script type="text/javascript">
            if (performance.navigation.type == 2) {
                debugger;
                location.reload(true);
            }
        </script>*@

</head>
<body class="p-0">
    <div class="height-100 login">
        <div class="wrap-container">
            <div class="login-form">

                <div class="row">
                    <div class="col">
                        Login as admin => admin@scholarship.com <br />
                        Login as graduate => graduate@scholarship.com <br />
                        All Passwords '123456'
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <br /><br />
                    </div>
                </div>

                @using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <h5>Login</h5>
                    </div>
                    <div class="form-group">
                        <label>User name</label>
                        <input type="text" name="username" class="form-control" value="@Model.username">
                        <span class="focus-input100" data-placeholder="Username"></span>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="pass" class="form-control" value="@Model.pass">
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn">Login</button>
                    </div>
                    <div class="form-group">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                }
            </div>
            <footer>
                <div class="contaier">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                <span>© 2020 <a href="#">Ahmed Elsawy</a> - All right reserved.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>



    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/web-assets/js/popper.min.js"></script>
    <script src="~/web-assets/js/bootstrap.min.js"></script>
    <script src="~/web-assets/js/bootstrap-toggle.min.js"></script>
    <script src="~/web-assets/js/plugin.js"></script>
</body>
</html>

