﻿
@model App.UI.WEB.ASP.MVC.Models.ScholarshipModel

@{string HiddenValue = ViewBag.SaveSuccess != null ? ((bool)ViewBag.SaveSuccess).ToString() : "";}

@if (ViewBag.SaveSuccess != null && (bool)ViewBag.SaveSuccess == false)
{
    <div class="alert alert-danger" role="alert">
        Error
        @Html.ValidationSummary(false, "", new { @class = "ValidationSummary" })
    </div>
}

@using (Ajax.BeginForm("Save", "Scholership", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "SaveData" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.ID)
    @*@Html.HiddenFor(s => s.LogoPath)*@
    @Html.HiddenFor(s => s.Resume)
    @*@Html.HiddenFor(s => s.Resume, new { @id = "ImagePathHidden" })*@
    @Html.Hidden("SuccessHidden", @HiddenValue);

    <div class="form-row">

        <div class="col-md-12">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(s => s.NationalID)
                        @Html.TextBoxFor(s => s.NationalID, new { @class = "form-control ", @maxLength = 500 })
                        @Html.ValidationMessageFor(s => s.NationalID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(s => s.University)
                        @Html.TextBoxFor(s => s.University, new { @class = "form-control ", @maxLength = 500 })
                        @Html.ValidationMessageFor(s => s.University, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(s => s.Major)
                        @Html.TextBoxFor(s => s.Major, new { @class = "form-control ", @maxLength = 100 })
                        @Html.ValidationMessageFor(s => s.Major, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(s => s.GPA)
                        @Html.TextBoxFor(s => s.GPA, new { @class = "form-control ", @maxLength = 5 })
                        @Html.ValidationMessageFor(s => s.GPA, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-block btn-primary">Save</button>
            </div>
        </div>
    </div>
}

@*@if (ViewBag.SaveSuccess != null && (bool)ViewBag.SaveSuccess == true)
    {
        <script>
            $('#SearchBtn').click();
        </script>
    }*@

@if (ViewBag.Create != null && (bool)ViewBag.Create == true)
{
    <script>
        $('#createModal').modal('show');
    </script>
}



