﻿@using App.Resources;
@model App.UI.WEB.ASP.MVC.Models.ScholarshipModel

@{
    string DivRenderName = "Div" + Model.ID.ToString();
    string deleteModal = "deleteModal" + Model.ID.ToString();
    string editModal = "editModal" + Model.ID.ToString();
    //string ActiveStatus = Model.SupportRTL ? "Deactivate Right to Left" : "Activate Right to Left";
    //string ActiveClass = Model.SupportRTL ? "active" : "";
}
@using (Ajax.BeginForm("ListItemActions", "Scholership", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = DivRenderName }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.NationalID)
    @Html.HiddenFor(m => m.University)
    @Html.HiddenFor(m => m.Major)
    @Html.HiddenFor(m => m.GPA)
    @Html.HiddenFor(m => m.Resume)



    @*<div class="row">
        <div class="col">
            <button type="submit" name="ActionName" value="ImportToExcel" class="action-btn edit" data-toggle="modal">Download</button>
        </div>
    </div>*@

    <div class="superAdmin-users">
        <div class="title">
            <div class="container">

                <div class="row">
                    <div class="col">
                        <label>@AppResources.NationalID</label>
                        <p style="margin-bottom: 10px;font-weight: bold">@Model.NationalID</p>
                    </div>
                    <div class="col text-right">
                        <label>@AppResources.University</label>
                        <p style="margin-bottom: 10px;font-weight: bold">@Model.University</p>
                    </div>
                    <div class="col text-right">
                        <label>@AppResources.Major</label>
                        <p style="margin-bottom: 10px;font-weight: bold">@Model.Major</p>
                    </div>
                    <div class="col text-right">
                        <label>@AppResources.GPA</label>
                        <p style="margin-bottom: 10px;font-weight: bold">@Model.GPA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="action container">
            <div class="row">
                <div class="col-md col">
                    @if (ViewBag.AuthenticationRoleID == 2)
                    {
                        <a class="action-btn edit" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#SaveData" href="/Scholership/Create/@Model.ID"><i class="far fa-edit"></i> Edit</a>
                        if (Model.IsApproved)
                        {
                            <button type="button" name="ActionName" class="btn btn-success" disabled>Approved</button>
                        }
                    }
                    else if (ViewBag.AuthenticationRoleID == 1)
                    {
                        if (!Model.IsApproved)
                        {
                            <button type="submit" name="ActionName" value="Approve" class="action-btn edit" data-toggle="modal">Approve</button>
                        }
                        else
                        {
                            <button type="submit" name="ActionName" value="Disapprove" class="action-btn edit" data-toggle="modal">Disapprove</button>
                        }
                        @*<a class="action-btn edit" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#SaveData" href="/Scholership/Create/@Model.ID"><i class="far fa-edit"></i> Approve</a>*@
                        @*<a class="action-btn edit" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#SaveData" href="/Scholership/Create/@Model.ID"><i class="far fa-edit"></i> Save to excel</a>*@
                    }

                    @*<button type="button" class="action-btn delete" data-toggle="modal" data-target="#@deleteModal"><i class="far fa-times-circle"></i> Delete</button>*@
                    @*<button class="action-btn edit" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#SaveData" href="/Admin/Merchant/Create/@Model.ID"><i class="far fa-edit"></i> Edit</button>
        <button class="action-btn delete" data-toggle="modal" data-target="#deleteModal"><i class="far fa-times-circle"></i> Delete</button>*@
                </div>
            </div>
        </div>
    </div>


    <!-- Delete Modal -->
    <div class="modal fade" id="@deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="message text-center">
                        <h3>Are You Sure!</h3>
                        <p>You Want to Delete This recored?</p>
                        <div class="action">
                            <button type="submit" name="ActionName" value="Delete" class="delete" data-toggle="modal">Yes, delete</button>
                            <button class="cancel" data-dismiss="modal" aria-label="Close">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@if (ViewBag.DeleteSuccess != null && (bool)ViewBag.DeleteSuccess == true)
{
    <script>
        $('#SearchBtn').click();
    </script>
}


@if (ViewBag.SaveSuccess != null && (bool)ViewBag.SaveSuccess == false)
{
    <script>
        $('.modal-backdrop').remove();
        $('#@editModal').modal('show');
    </script>
}

<script>
    function setProductId(productId) {

        if ($('.SelectedProduct').length > 0) {
            $('.SelectedProduct').val(productId);
        }
    }
</script>