﻿@model App.UI.WEB.ASP.MVC.Models.ScholarshipListModel

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="header-title">
                    <h3>Scholarship List</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="header-action">
                    @if (ViewBag.AuthenticationRoleID == 2)
                    {
                        using (Ajax.BeginForm("Create", "Scholership", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "SaveData" }))
                        {

                            <button class="create" data-toggle="modal">Create new Scholership</button>
                        }
                    }
                    else if (ViewBag.AuthenticationRoleID == 1)
                    {
                        <a class="create" href="@Url.Action("DownloadExcel","Scholership")">Export to Excel</a>
                    }
                </div>
            </div>
        </div>
    </div>
</header>

<section class="search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @using (Ajax.BeginForm("Search", "Scholership", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Index" }))
                {
                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        @*@Html.TextBoxFor(m => m.ScholershipFilters.SearchText, new { @class = "form-control", @placeholder = "Enter Your Search" })*@
                        @Html.HiddenFor(m => m.ScholershipFilters.SearchText, new { @class = "form-control", @placeholder = "Enter Your Search" })
                        <button type="submit" name="ActionName" value="Search" id="SearchBtn" style="visibility:hidden"><i class="fas fa-search"></i></button>
                        <button type="submit" value="Refresh" name="ActionName" class="clear" onclick="location.reload();" style="visibility:hidden">Clear</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section class="super-admin">
    <div class="container">
        <div class="row ">
            @foreach (var scholarship in Model.Scholerships)
            {
                string DivName = "Div" + scholarship.ID.ToString();

                <div class="col-md-12" id="@DivName">
                    @Html.Partial("ItemList", scholarship)
                </div>
            }

            @if (@Model.Scholerships == null || !@Model.Scholerships.Any())
            {
                <div class="tab-pane" id="salads" role="tabpanel" aria-labelledby="salads-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="empty text-center p-4">
                                    @if (ViewBag.Search != null && (bool)ViewBag.Search == true)
                                    {
                                        <h3>No Data Found Matched Your Search</h3>
                                    }
                                    else
                                    {
                                        <h3>No Scholarship Have Been Added Yet, Please Go to Create New Scholarship</h3>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>


<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="staticBackdropLabel"> <i class="far fa-user"></i> Create New Merchant</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="SaveData">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="message message-done text-center">
                    <img src="~/web-assets/images/checkmark.png">
                    @if (TempData["Delete"] != null && (bool)TempData["Delete"] == true)
                    {
                        <p>Data Deleted Successfully</p>
                    }
                    @if (TempData["Save"] != null && (bool)TempData["Save"] == true)
                    {
                        <p>Data Added Successfully</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["Delete"] != null && (bool)TempData["Delete"] == true)
{
    <script>
        $('.modal-backdrop').remove();
        $('#messageModal').modal('show');
    </script>
}

@if (TempData["Save"] != null && (bool)TempData["Save"] == true)
{
    <script>
        $('.modal-backdrop').remove();
        $('#messageModal').modal('show');
    </script>
}