﻿.txt {
    display: block !important;
    width: 98% !important;
    padding: .375rem .75rem !important;
    font-size: 0.85rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.searchTxt {
    display: block !important;
    width: 100% !important;
    padding: .375rem .75rem !important;
    font-size: 0.85rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.searchBtn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #878786;
    padding: .375rem .75rem !important;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

    .searchBtn:hover {
        background: #ea5b0c;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }

.whitelable {
    color: white;
}

.AddNew {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #878786;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

    .AddNew:hover {
        background: #ea5b0c;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }


.lbl {
    font-weight: 600;
}

a.btn:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

a.btn {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.ImgLogo {
    width: 484px !important;
    max-width: 600px !important;
    height: 250px !important;
    vertical-align: super !important;
    border: 0 !important;
    -ms-interpolation-mode: bicubic !important;
}

.ListImgLogo {
    max-width: 185px !important;
    max-height: 218px !important;
    vertical-align: super !important;
    border: 0 !important;
    object-fit: scale-down !important;
}

.ImgItem {
    width: 200px !important;
    max-width: 200px !important;
    height: 150px !important;
    vertical-align: super !important;
    border: 0 !important;
    -ms-interpolation-mode: bicubic !important;
}

.ProfileLogo {
    width: 285px !important;
    max-width: 285px !important;
    height: 216px !important;
    vertical-align: super !important;
    border: 0 !important;
    -ms-interpolation-mode: bicubic !important;
}

.dropDown {
    width: 103.5% !important;
    padding: .375rem .75rem !important;
    font-size: 0.85rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    color: #67757c !important;
    min-height: 35px !important;
    display: initial !important;
    text-transform: none !important;
    outline: none !important;
    box-sizing: border-box !important;
    overflow: visible !important;
}

.textArea {
    margin: 0px -10.6px 10px 0px !important;
    width: 97% !important;
    height: 90px !important;
}


.HeaderAnchor {
    font-weight: 100;
    text-decoration: underline;
}

#loading-indicator {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/Content/images/loader.png) 50% 50% no-repeat rgba(0, 0, 0, 0.26)
}

.Validation {
    color: red;
    font-size: medium;
}

.DivLabel {
    width: 100%;
    float: left;
}

.DivValidation {
    width: 0%;
    float: right;
}

.ValidationSummary {
    color: red;
    font-size: medium;
}

.ListAnchor {
    font-weight: 700;
    text-decoration: underline;
    color: #878786;
}

.ListBtnAction {
    font-weight: 600;
    background: none;
    border: none;
    color: #878786;
    text-decoration: underline;
    cursor: pointer;
}

.ListBtnAction:hover {
    color: #ea5b0c;
}

.ListImgLogolarge {
    FONT-WEIGHT: 500;
    width: 380px !important;
    max-width: 500px !important;
    height: 268px !important;
    vertical-align: super !important;
    border: 0 !important;
    -ms-interpolation-mode: bicubic !important;
}

