@font-face {
    font-family: 'password';
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/password.ttf);
    /*src: url('https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf');*/
}

input.key {
    font-family: 'password';
}