﻿@using App.UI.WEB.ASP.MVC.IBase
@using App.UI.WEB.ASP.MVC.Base
@using App.Framework.Security.Business.Helper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Scholarship</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/web-assets/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap" rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/web-assets/css/style.css">

    <!-- icon -->
    <link rel="icon" type="image/png" href="~/Assets/Login/images/icons/favicon.ico" />

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/web-assets/js/popper.min.js"></script>
    <script src="~/web-assets/js/bootstrap.min.js"></script>
    <script src="~/web-assets/js/bootstrap-toggle.min.js"></script>
    <script src="~/web-assets/js/plugin.js"></script>
    <script src="~/web-assets/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/web-assets/js/jquery.validate.js"></script>
    <script src="~/web-assets/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/web-assets/js/jquery-ui.js"></script>
    <script src="~/web-assets/js/_Shared.js"></script>
</head>

<body>
    <div class="spinner" id="spinnerDiv">
        <span class="spinner-border"></span>
    </div>

    <div class="container height-100">
        <div class="wrap-container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Login/Index"><i class="far fa-user"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            @RenderBody()
            <footer>
                <div class="contaier">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                <span>© 2020 <a href="#">Ahmed Elsawy</a> - All right reserved.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script>
        window.addEventListener("submit", function (e) {
            var form = e.target;
            var SubmitValue = "";

            debugger;

            if (e && e.submitter && e.submitter.value)
                SubmitValue = e.submitter.value;
            else
                SubmitValue = form.attributes["action"].ownerDocument.activeElement.defaultValue;

            debugger;
            if (form.getAttribute("enctype") === "multipart/form-data") {
                if (form.dataset.ajax) {
                    if ($(form).valid() == false) { return false; }
                    $('#spinnerDiv').show();
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    var xhr = new XMLHttpRequest();
                    xhr.open(form.method, form.action);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            if (form.dataset.ajaxUpdate) {
                                var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                                if (updateTarget) {
                                    updateTarget.innerHTML = xhr.responseText;
                                    var FormID = $(form).attr("id");
                                    var Form = $('#' + FormID)

                                    $.validator.unobtrusive.parse($(Form));

                                    $('#spinnerDiv').hide();

                                    if (FormID == "MerchantForm") {
                                        debugger;
                                        if ($('#SuccessHidden').val() == 'True')
                                            $('#SearchBtn').click();
                                    }

                                    $('input[type=submit].hidden-value').css("opacity", "0");

                                    if (SubmitValue == "Delete") {
                                        if ($('#SearchBtn').length > 0) {
                                            $('#SearchBtn').click();
                                        }
                                    }
                                }
                            }
                        }
                    };
                    xhr.send(new FormData(form));
                }
            }
        }, true);
    </script>
</body>
</html>
