
//  Variables
$orangeColor: #EA5B0C;
$btnColorBlue: #47ADE2;
$btnColorRed: #FF7171;
$darkColor: #3D3D3D;

html{
	scroll-behavior: smooth;
	height: 100%;
}

body{
	font-family: 'Raleway', sans-serif;
	background: #F9F9F9;
	padding: 20px;
	height: 100%;
}

img{
	max-width: 100%;
}

.height-100{
	height: 100%;
}

[class*="col-"]{
	padding: 0 7.5px
}

.wrap-container{
	background: #fff;
	box-shadow: 0 0 13px 1px #00000012;
	-webkit-box-shadow: 0 0 13px 1px #00000012;
	-moz-box-shadow: 0 0 13px 1px #00000012;
	-o-box-shadow: 0 0 13px 1px #00000012;
	min-height: 100%;
	position: relative;
}

.text-danger{
	font-size: .8rem
}

.login{
	.wrap-container{
		background: none;
		box-shadow: none;
		.login-form{
			background: #fff;
			box-shadow: 0 0 13px 1px #00000012;
			-webkit-box-shadow: 0 0 13px 1px #00000012;
			-moz-box-shadow: 0 0 13px 1px #00000012;
			-o-box-shadow: 0 0 13px 1px #00000012;	
			padding: 30px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);		
			min-width: 500px;
			border-bottom: 2px solid $orangeColor;
			@media (max-width: 576px){
				min-width: 380px;
			}
			.form-group{
				h5{
					color: #ea5b0c;
				    font-weight: 400;
				    font-size: 1.5rem;
				    margin-bottom: 30px;
				}
				label{
					font-size: .9rem;
				    font-style: italic;
				    font-weight: 500;
				    margin-bottom: .2rem;					
				}
				input{
					outline: none;
					border: none;
					border-bottom: 1px solid #ffe3d4;
					border-radius: 0;
					background: #fbfbfb;
					box-shadow: none;		
					&::placeholder{
						font-size: .8rem;
					    font-style: italic;						
					}			
				}
				.btn{
					width: 100%;
					background: $orangeColor;
					border-radius: 25px;
					color: #fff;
				}
			}
		}
		footer{
			@media (max-width: 576px){
				position: absolute;
			}
			text-align: center;
			.social{
				text-align: center
			}
		}
	}
}

.navbar{
	.navbar-toggler{
		border: none;
    	outline: none;
    	span{
    		color: $orangeColor
    	}
	}
	.navbar-collapse{
		@media (max-width: 576px){
		    background: #efefef;
		    padding: 10px;
		    /*text-align: center;*/
		    position: absolute;
		    top: 100%;
		    width: auto;
		    z-index: 99999;
		    left: 0px;
		    right: 0px;
		}
		.navbar-nav{
			.nav-item{
				.nav-link{
					color: #a5a5a5;
				}
				&.active{
					border-bottom: 1px solid $orangeColor;
					.nav-link{
						color: $orangeColor;
					}
				}
			}
		}
	}
}

header{
	background: $orangeColor;
	padding: 50px 30px;
	color: #fff;
	@media (max-width: 576px){
		padding: 20px;
	}
	.header-title{
		h3{
			font-weight: 800;
			@media (max-width: 576px){
				text-align: center;
			}
		}
	}
	.header-action{
		text-align: right;
		@media (max-width: 576px){
			text-align: center;
			margin-top: 20px;
		}		
		.create{
			text-decoration: none;
			color: #fff;
			background: $btnColorBlue;
			border-radius: 25px;
			-webkit-border-radius: 25px;
			-o-border-radius: 25px;
			-moz-border-radius: 25px;
			padding: 10px 25px;
			vertical-align: middle;
			box-shadow: none;
			border: none;
			outline: none;
			cursor: pointer;
		}
	}
	&.user-screen{
		@media (max-width: 576px){
			/*text-align: center;*/
		}
		.user-img{
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			overflow: hidden;
			background: #fff;
			text-align: center;
		}
		.header-title{
			display: inline-block;
			margin-left: 15px;
			@media (max-width: 576px){
				margin-left: 0;
			}
			h3{
				font-weight: 500;
    			font-size: 18px;
    			margin-bottom: 15px;
			}
			a{
				text-decoration: none;
				color: #fff;
				border: 1px solid #fff;
				border-radius: 25px;
				padding: 8px 20px;
				font-size: .8rem;
			}
		}
		.header-action{
			padding-top: 1.5rem;
			@media (max-width: 576px){
				border-top: 1px solid #ff7767;
			}
			a{
				text-decoration: none;
				background: #fff;
				border: 1px solid #fff;
				border-radius: 25px;
				padding: 15px 25px;
				color: #000;
				margin-left: 10px;
				display: inline-block;
				@media (max-width: 576px){
				    margin-bottom: 10px;
				    margin-left: 0;
				    width: 125px;
				    font-size: .8rem;
				}
			}
		}
	}
}

.search{
	padding: 30px 0 0;
	form{
		.form-group{
			.form-control{
				position: relative;
				border-radius: 5px;
				border: 1px solid #FEF6F6;
				background: #FCFCFC;
				outline: none;
				box-shadow: none;
				display: inline-block;
				width: 93%;
				margin-right: 10px;
				&::placeholder{
					color:#B2B2B2;
				}
				@media (max-width: 576px){
					width: 80%;
				}				
			}
			button{
				background: none;
				border: none;
				color: $orangeColor;
				position: absolute;
				right: 9%;
			    top: 8px;
			    box-shadow: none;
			    outline: none;
			    cursor: pointer;			    
			    @media (max-width: 576px){
			    	right: 23%;
			    }
			}
			.clear{
				color: #c3c3c3;
				text-decoration: none;
				right: 2%;
			}
		}
	}
}

.super-admin{
	padding: 30px 0;
	.superAdmin-users{
		padding: 10px;
		background: #F8F8F8;
		border: 1px solid #E6E6E6;
		border-radius: 15px;
		margin-bottom: 30px;
		/*height: 100%;*/
		.title{
			font-weight: 400;
			margin-bottom: 10px;
			p{
				font-weight: 600;
				i{
					color: $orangeColor;
					margin-right: 10px
				}	
			}
		}
		.info{
			background: #fff;
			padding: 10px;
			@media (max-width: 576px){
				text-align: center;
			}
			span{
				font-size: .65rem;
			}
			p{
				font-size: .8rem;
				font-weight: 600;
				color: #000;
				margin-bottom: 0;
				min-height: 50px;
			}
		}
		.action{
			
			margin-right: -7.5px;
			text-align: right;
			margin-top: 10px;
			.stats-btn{
				margin-left: -15px;
				text-align: left;
/*				.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px;background: #fff;border:1px solid #DFDFDF; }
	  			.toggle.ios .toggle-handle { border-radius: 20px; }*/
	  			.btn{
	  				border-radius: 20px;
	  				background: #fff;
	  				border:1px solid #DFDFDF; 
	  				width: 60px;
    				height: 20px;
    				position: relative;
    				overflow: hidden;
    				transition: right .35s;
    				box-shadow: none;
    				&:after{
    					content:'';
    					position:absolute;
    					left: 50%;
    					height: 20px;
    					width: 30px;
    					background: #444444;
    					border: 1px solid #DFDFDF;
    					border-radius: 20px;
    					top: -1px;
    					transition: left .35s;
    				}
    				&.active{
    					&:after{
    						background: $orangeColor;
    						left: 0;
    						/*right: 100%;*/
    					}
    				}
	  			}
			}
			.action-btn{
				text-decoration: none;
				padding: 5px 20px;
				border-radius: 25px;
				display: inline-block;
			    border: none;
			    outline: none;	
			    cursor: pointer;			
				&.edit{
					background: $btnColorBlue;
					color: #fff;
					margin-right: 10px;
					@media (max-width: 576px){
						margin-right: 0;
					}
				}
				&.delete{
					background: $btnColorRed;
					color: #fff;
				}
			}
		}
	}
}

.categories{
	padding: 30px 0;
	.title{
		h3{
			font-weight: 600;
			color: #000;
			@media (max-width: 576px){
				text-align: center;
			}
			i{
				color: $orangeColor;
				margin-right: 10px;
			}
		}
	}
	.action{
		text-align: right;
		@media (max-width: 576px){
			text-align: center;
		}
		button{
			text-decoration: none;
			background: $orangeColor;
			color: #fff;
			padding: 15px 25px;
			border-radius: 25px;
			box-shadow: none;
			border: none;
			cursor: pointer;
			@media (max-width: 576px){
				display: inline-block;
				padding: 10px 15px;
			}
		}
	}
	.nav-tabs{
		border: none;
		padding: 0 5px;
		.nav-item{	
			.nav-link{
			    border: 1px solid transparent;
				padding: 10px;
			    background: #fff;
			    border-radius: 5px;
			    box-shadow: 0 0 2px 1px #ececec;
			    padding: 8px 0;
			    color: #000;
			    font-weight: 600;	
			    transition: .5s;
			    cursor: pointer;
			    &.active{
			    	border: 1px solid #ea5b0c;
			    }			
			    @media (max-width: 576px){
			    	font-weight: 400;
			    	margin-top:5px;
			    }
			}
			.ca-action{
				margin-top: 5px;
				background: #f1f1f1;
				border-radius: 5px;
				button{
					text-decoration: none;
					display: inline-block;
					margin: 5px 0;
					padding: 3px 15px;
					border: 1px solid #ededed;
					color: #fff;
				    box-shadow: none;
				    outline: none;
				    cursor: pointer;						
					@media (max-width: 576px){
						padding: 3px 8px;
					}
				}
			}
		}
	}
	.tab-content{
		margin: 50px 0;
		.tab-pane{
			.menu-item{
				margin-bottom: 30px;
				.img{
					height: 200px;
					overflow: hidden;
					position: relative;
					border-radius: 15px;
					margin-bottom: 20px;
					text-align: center;
					img{
						/*height: 100%;*/
						/*margin: 0 auto;*/
					}
					.fav{
						position: absolute;
					    right: 15px;
					    top: 15px;
					    display: block;
					    width: 45px;
					    height: 45px;
					    color: #868686;
					    background: #fff;
					    border-radius: 50%;
					    padding: 4px;
					    text-align: center;
					    font-size: 1.4rem;
					    box-shadow: 0 0 7px #717171;
					    transition: .5s;
					    border: 2px solid #fff !important;
					    cursor: pointer;
					    box-shadow: none;
					    outline: none;
					    &:before{
							font-family: "Font Awesome 5 Free";
						    font-weight: 900;
						    content: "\f005";
					    }
					    &:hover{
					    	color: $orangeColor;
					    }
					    &.active{
							background: #EA5B0C;
						    color: #fff;
						    border: 2px solid #fff;
					    }
					    input{
						    position: absolute;
						    top: -2px;
						    right: -2px;
						    background: none;
						    width: 45px;
						    height: 45px;
						    border: none;
						    outline: none;
						    cursor: pointer;					    	
					    }
					}
				}
				.info{
					p{
						margin-bottom: .2rem;
						font-weight: 600;
						font-size: 1.1rem;
						&.price{
							color: green;
							font-family: arial, sans-serif;
							margin-bottom: 5px;
						}
					}
					.action{
						text-align: center;
						button{
						    padding: 5px;
						    width: 60px;
						    height: 30px;
						    display: inline-block;
						    text-align: center;
						    box-shadow: none;
						    outline: none;
						    cursor: pointer;
						    &.edit{
						    	background: #3d3d3d;
						    }
						}
					}
				}
			}
		}
		.empty{
			border-radius: 5px;
			border: 1px solid #FEF6F6;
			background: #FCFCFC;
			outline: none;
			h3{
				color: #000000;
				margin-bottom: 30px;
			}
			.add{
				text-decoration: none;
			    color: #000;
			    border: 1px solid #ea5b0c;
			    padding: 10px 20px;
			    border-radius: 25px;
			    background: #fff;	
			    outline: none;
			    cursor: pointer;
			    transition: .5s;
			    &:hover{
			    	background: $orangeColor;
			    	color: #fff
			    }			
			}
		}
	}
}

.modal{
	.modal-dialog{
		.modal-content{
			border-radius: 15px;
			.modal-header{
				.modal-title{
					font-weight: 600;
					color: #000;
					i{
						color: $orangeColor;
						margin-right: 10px;
					}
				}
				.close{
				    text-shadow: none;
				    font-size: 36px;
				    font-weight: 300;
				    margin: -11px 0.3rem 0 auto;
				    padding: 0;		
				    outline: none;			
				}
			}
			.modal-body{
				.close{
				    text-shadow: none;
				    font-size: 36px;
				    font-weight: 300;
				    margin: -11px 0.3rem 0 auto;
				    padding: 0;		
				    outline: none;			
				}				
				.delete{
					text-align: center;
					display: block;
				}
				.form-group{
					margin-bottom: .5rem;
					label{
					    font-size: 0.7rem;
					    margin-bottom: .2rem;
					}
					.form-control{
						border: 1px solid #B8B8B8;
						border-radius: 8px;							
					}
					.btn{
						background: $orangeColor;
						border-radius: 22px;
						border: none;
					}
				}
				.item-img{
					position: relative;
					.custom-file-upload{
					    background: #47ADE2;
					    border-radius: 22px !important;
					    border: none !important;
					    color: #fff;
					    text-align: center;
					    font-weight: 400;		
					    font-size: .8rem;	
						input{
						    width: 0;
						    border: none;
						    outline: none;					
						}
					}	
					button{
						text-decoration: none;
						width: 40px;
						height: 40px;
						display: block;
						position: absolute;
						border-radius: 50%;
						color: #fff;
						top: 8px;
						right: 8px;
						cursor: pointer;
					    padding: 8px;
					    text-align: center;
					    border: none;
					    box-shadow: none;
					    outline: none;
					}					
				}
				.message{
					padding: 2rem;
					h3{
						color: $orangeColor;
						font-weight: 700;
					}
					.action{
						margin-top: 30px;
						button{
							display: inline-block;
							padding: 10px 30px;
							border: 1px solid #707070;
							margin: 0 10px;
							border-radius: 25px;
							text-decoration: none;
							color: #000;
							transition: .5s;
							cursor: pointer;
							outline: none;
							box-shadow: none;
							background: none;
							&:hover{
								border: 1px solid $orangeColor;
								color:  $orangeColor
							}
							&.delete{
								background: $orangeColor;
								color: #fff;
								border: transparent;
								margin-bottom: 20px;
							}
						}
					}
					&.message-done{
						img{
							margin-bottom: 30px;
						}
						p{
							font-weight: 600
						}
					}
				}
			}
		}
	}
}

.profile{
	padding: 30px 0;
	form{
		margin-bottom: 50px;
		.profile-box{
			padding: 20px;
			background: #f8fdff;
			border: 1px solid #ecf7f9;
			border-radius: 12px;
			margin-bottom: 30px;
			.form-group{
				margin-bottom: .5rem;
				label{
				    font-size: 0.7rem;
				    margin-bottom: .2rem;
				}
				.form-control{
					border: 1px solid #B8B8B8;
					border-radius: 8px;							
				}
			}			
		}
		.profile-images{
			.img{
				background: #fff;
				position: relative;
				border: 1px solid #ededed;
				margin-bottom: 10px;
				border-radius: 12px;
				padding: 10px;
				height: 150px;
				overflow: hidden;
				&.bg-img{
					height: 388px;
					@media (max-width: 576px){
						height: auto
					}					
				}
				.delete-img{
					width: 40px;
				    height: 40px;
				    background: #ff7171;
				    border-radius: 50%;
				    position: absolute;
				    top: 8px;
				    right: 8px;
				    text-align: center;
				    color: #ffffff;
				    padding: 9px;
				    box-shadow: none;
				    border: none;
				    cursor: pointer;
				    outline: none;
				    &:before{
						font-family: "Font Awesome 5 Free";
					    font-weight: 900;
					    content: "\f1f8";
				    }		
				    input{
					    position: absolute;
					    top: -2px;
					    right: -2px;
					    background: none;
					    width: 45px;
					    height: 45px;
					    border: none;
					    outline: none;
					    cursor: pointer;					    	
				    }				    		    
				}
			}
			.custom-file-upload{
			    background: #47ADE2;
			    border-radius: 22px !important;
			    border: none !important;
			    color: #fff;
			    text-align: center;
			    font-weight: 600;			
				input{
				    width: 0;
				    border: none;
				    outline: none;					
				}
			}
		}
		.btn-info{
			background: $btnColorBlue;
			border-radius: 22px;
			border: none;
		}
	}
}

footer{
	background: $darkColor;
	padding: 15px;
	position: absolute;
	bottom: -25px;
	left: 0;
	right: 0;
	margin-top: 30px;
	@media (max-width: 576px){
		text-align: center;
		position: static;
	}
	.copyright{
		span{
			color: #CBCBCB;
			font-size: 13px;
			a{
				text-decoration: none;
				color: $orangeColor
			}
		}
	}
	.social{
		text-align: right;
		@media (max-width: 576px){
			text-align: center;
			margin-top: 10px;
		}
		a{
			text-decoration: none;
			color: #fff;
			padding: 5px 10px;
			transition: .5s;
			&:hover{
				color: $orangeColor;
			}
		}
	}
}

.spinner{
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	display: none;
	transition: .5s;
	.spinner-border{
		display: block;
		width: 50px;
		height: 50px;
		border-right: 3px solid #fff;
		border-left: 3px solid #fff;
		border-bottom: 3px solid #fff;
		border-top: 1px solid transparent;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 999;
		animation: spinner 1s linear infinite;
		position: relative;
	}
}

@keyframes spinner {
  from {
  	transform: rotate(0);
  }
  to {
  	transform: rotate(360deg);
  }
}