html {
  scroll-behavior: smooth;
  height: 100%; }

body {
  font-family: 'Raleway', sans-serif;
  background: #F9F9F9;
  padding: 20px;
  height: 100%; }

img {
  max-width: 100%; }

.height-100 {
  height: 100%; }

[class*="col-"] {
  padding: 0 7.5px; }

.wrap-container {
  background: #fff;
  box-shadow: 0 0 13px 1px #00000012;
  -webkit-box-shadow: 0 0 13px 1px #00000012;
  -moz-box-shadow: 0 0 13px 1px #00000012;
  -o-box-shadow: 0 0 13px 1px #00000012;
  min-height: 100%;
  position: relative; }

.text-danger {
  font-size: 0.8rem; }

.login .wrap-container {
  background: none;
  box-shadow: none; }
  .login .wrap-container .login-form {
    background: #fff;
    box-shadow: 0 0 13px 1px #00000012;
    -webkit-box-shadow: 0 0 13px 1px #00000012;
    -moz-box-shadow: 0 0 13px 1px #00000012;
    -o-box-shadow: 0 0 13px 1px #00000012;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    border-bottom: 2px solid #EA5B0C; }
    @media (max-width: 576px) {
      .login .wrap-container .login-form {
        min-width: 380px; } }
    .login .wrap-container .login-form .form-group h5 {
      color: #ea5b0c;
      font-weight: 400;
      font-size: 1.5rem;
      margin-bottom: 30px; }
    .login .wrap-container .login-form .form-group label {
      font-size: .9rem;
      font-style: italic;
      font-weight: 500;
      margin-bottom: .2rem; }
    .login .wrap-container .login-form .form-group input {
      outline: none;
      border: none;
      border-bottom: 1px solid #ffe3d4;
      border-radius: 0;
      background: #fbfbfb;
      box-shadow: none; }
      .login .wrap-container .login-form .form-group input::placeholder {
        font-size: .8rem;
        font-style: italic; }
    .login .wrap-container .login-form .form-group .btn {
      width: 100%;
      background: #EA5B0C;
      border-radius: 25px;
      color: #fff; }
  .login .wrap-container footer {
    text-align: center; }
    @media (max-width: 576px) {
      .login .wrap-container footer {
        position: absolute; } }
    .login .wrap-container footer .social {
      text-align: center; }

.navbar .navbar-toggler {
  border: none;
  outline: none; }
  .navbar .navbar-toggler span {
    color: #EA5B0C; }
@media (max-width: 576px) {
  .navbar .navbar-collapse {
    background: #efefef;
    padding: 10px;
    /*text-align: center;*/
    position: absolute;
    top: 100%;
    width: auto;
    z-index: 99999;
    left: 0px;
    right: 0px; } }
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #a5a5a5; }
.navbar .navbar-collapse .navbar-nav .nav-item.active {
  border-bottom: 1px solid #EA5B0C; }
  .navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link {
    color: #EA5B0C; }

header {
  background: #EA5B0C;
  padding: 50px 30px;
  color: #fff; }
  @media (max-width: 576px) {
    header {
      padding: 20px; } }
  header .header-title h3 {
    font-weight: 800; }
    @media (max-width: 576px) {
      header .header-title h3 {
        text-align: center; } }
  header .header-action {
    text-align: right; }
    @media (max-width: 576px) {
      header .header-action {
        text-align: center;
        margin-top: 20px; } }
    header .header-action .create {
      text-decoration: none;
      color: #fff;
      background: #47ADE2;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -o-border-radius: 25px;
      -moz-border-radius: 25px;
      padding: 10px 25px;
      vertical-align: middle;
      box-shadow: none;
      border: none;
      outline: none;
      cursor: pointer; }
  @media (max-width: 576px) {
    header.user-screen {
      /*text-align: center;*/ } }
  header.user-screen .user-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    text-align: center; }
  header.user-screen .header-title {
    display: inline-block;
    margin-left: 15px; }
    @media (max-width: 576px) {
      header.user-screen .header-title {
        margin-left: 0; } }
    header.user-screen .header-title h3 {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 15px; }
    header.user-screen .header-title a {
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 25px;
      padding: 8px 20px;
      font-size: .8rem; }
  header.user-screen .header-action {
    padding-top: 1.5rem; }
    @media (max-width: 576px) {
      header.user-screen .header-action {
        border-top: 1px solid #ff7767; } }
    header.user-screen .header-action a {
      text-decoration: none;
      background: #fff;
      border: 1px solid #fff;
      border-radius: 25px;
      padding: 15px 25px;
      color: #000;
      margin-left: 10px;
      display: inline-block; }
      @media (max-width: 576px) {
        header.user-screen .header-action a {
          margin-bottom: 10px;
          margin-left: 0;
          width: 125px;
          font-size: .8rem; } }

.search {
  padding: 30px 0 0; }
  .search form .form-group .form-control {
    position: relative;
    border-radius: 5px;
    border: 1px solid #FEF6F6;
    background: #FCFCFC;
    outline: none;
    box-shadow: none;
    display: inline-block;
    width: 93%;
    margin-right: 10px; }
    .search form .form-group .form-control::placeholder {
      color: #B2B2B2; }
    @media (max-width: 576px) {
      .search form .form-group .form-control {
        width: 80%; } }
  .search form .form-group button {
    background: none;
    border: none;
    color: #EA5B0C;
    position: absolute;
    right: 9%;
    top: 8px;
    box-shadow: none;
    outline: none;
    cursor: pointer; }
    @media (max-width: 576px) {
      .search form .form-group button {
        right: 23%; } }
  .search form .form-group .clear {
    color: #c3c3c3;
    text-decoration: none;
    right: 2%; }

.super-admin {
  padding: 30px 0; }
  .super-admin .superAdmin-users {
    padding: 10px;
    background: #F8F8F8;
    border: 1px solid #E6E6E6;
    border-radius: 15px;
    margin-bottom: 30px;
    /*height: 100%;*/ }
    .super-admin .superAdmin-users .title {
      font-weight: 400;
      margin-bottom: 10px; }
      .super-admin .superAdmin-users .title p {
        font-weight: 600; }
        .super-admin .superAdmin-users .title p i {
          color: #EA5B0C;
          margin-right: 10px; }
    .super-admin .superAdmin-users .info {
      background: #fff;
      padding: 10px; }
      @media (max-width: 576px) {
        .super-admin .superAdmin-users .info {
          text-align: center; } }
      .super-admin .superAdmin-users .info span {
        font-size: .65rem; }
      .super-admin .superAdmin-users .info p {
        font-size: .8rem;
        font-weight: 600;
        color: #000;
        margin-bottom: 0;
        min-height: 50px; }
    .super-admin .superAdmin-users .action {
      margin-right: -7.5px;
      text-align: right;
      margin-top: 10px; }
      .super-admin .superAdmin-users .action .stats-btn {
        margin-left: -15px;
        text-align: left;
        /*				.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px;background: #fff;border:1px solid #DFDFDF; }
        	  			.toggle.ios .toggle-handle { border-radius: 20px; }*/ }
        .super-admin .superAdmin-users .action .stats-btn .btn {
          border-radius: 20px;
          background: #fff;
          border: 1px solid #DFDFDF;
          width: 60px;
          height: 20px;
          position: relative;
          overflow: hidden;
          transition: right .35s;
          box-shadow: none; }
          .super-admin .superAdmin-users .action .stats-btn .btn:after {
            content: '';
            position: absolute;
            left: 50%;
            height: 20px;
            width: 30px;
            background: #444444;
            border: 1px solid #DFDFDF;
            border-radius: 20px;
            top: -1px;
            transition: left .35s; }
          .super-admin .superAdmin-users .action .stats-btn .btn.active:after {
            background: #EA5B0C;
            left: 0;
            /*right: 100%;*/ }
      .super-admin .superAdmin-users .action .action-btn {
        text-decoration: none;
        padding: 5px 20px;
        border-radius: 25px;
        display: inline-block;
        border: none;
        outline: none;
        cursor: pointer; }
        .super-admin .superAdmin-users .action .action-btn.edit {
          background: #47ADE2;
          color: #fff;
          margin-right: 10px; }
          @media (max-width: 576px) {
            .super-admin .superAdmin-users .action .action-btn.edit {
              margin-right: 0; } }
        .super-admin .superAdmin-users .action .action-btn.delete {
          background: #FF7171;
          color: #fff; }

.categories {
  padding: 30px 0; }
  .categories .title h3 {
    font-weight: 600;
    color: #000; }
    @media (max-width: 576px) {
      .categories .title h3 {
        text-align: center; } }
    .categories .title h3 i {
      color: #EA5B0C;
      margin-right: 10px; }
  .categories .action {
    text-align: right; }
    @media (max-width: 576px) {
      .categories .action {
        text-align: center; } }
    .categories .action button {
      text-decoration: none;
      background: #EA5B0C;
      color: #fff;
      padding: 15px 25px;
      border-radius: 25px;
      box-shadow: none;
      border: none;
      cursor: pointer; 
      outline:none;
    }
      @media (max-width: 576px) {
        .categories .action button {
          display: inline-block;
          padding: 10px 15px; } }
  .categories .nav-tabs {
    border: none;
    padding: 0 5px; 
    margin-top: 30px;
  }
    .categories .nav-tabs .nav-item{
        margin-bottom:15px;
    }
    .categories .nav-tabs .nav-item .nav-link {
        border: 1px solid transparent;
        padding: 10px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 2px 1px #ececec;
        color: #000;
        font-weight: 600;
        transition: .5s;
        cursor: pointer;
        min-height:70px;
    }
      .categories .nav-tabs .nav-item .nav-link.active {
        border: 1px solid #ea5b0c; }
      @media (max-width: 576px) {
        .categories .nav-tabs .nav-item .nav-link {
          font-weight: 400;
          margin-top: 5px; } }
    .categories .nav-tabs .nav-item .ca-action {
      margin-top: 5px;
      background: #f1f1f1;
      border-radius: 5px; }
        .categories .nav-tabs .nav-item .ca-action button, .categories .nav-tabs .nav-item .ca-action a {
            text-decoration: none;
            display: inline-block;
            margin: 5px 0;
            padding: 3px 15px;
            border: 1px solid #ededed;
            color: #fff;
            box-shadow: none;
            outline: none;
            cursor: pointer;
        }
        @media (max-width: 576px) {
            .categories .nav-tabs .nav-item .ca-action button, .categories .nav-tabs .nav-item .ca-action a {
                padding: 3px 8px;
            } }
  .categories .tab-content {
    margin: 50px 0; }
    .categories .tab-content .tab-pane .menu-item {
      margin-bottom: 30px; }
      .categories .tab-content .tab-pane .menu-item .img {
        height: 200px;
        overflow: hidden;
        position: relative;
        border-radius: 15px;
        margin-bottom: 20px;
        text-align: center; }
        .categories .tab-content .tab-pane .menu-item .img img {
            object-fit: cover;
            height: 100%;
            /* margin: 0 auto; */
            width: 100%;
        }
        .categories .tab-content .tab-pane .menu-item .img .fav {
          position: absolute;
          right: 15px;
          top: 15px;
          display: block;
          width: 45px;
          height: 45px;
          color: #868686;
          background: #fff;
          border-radius: 50%;
          padding: 4px;
          text-align: center;
          font-size: 1.4rem;
          box-shadow: 0 0 7px #717171;
          transition: .5s;
          border: 2px solid #fff !important;
          cursor: pointer;
          box-shadow: none;
          outline: none; }
          .categories .tab-content .tab-pane .menu-item .img .fav:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f005"; }
          .categories .tab-content .tab-pane .menu-item .img .fav:hover {
            color: #EA5B0C; }
          .categories .tab-content .tab-pane .menu-item .img .fav.active {
            background: #EA5B0C;
            color: #fff;
            border: 2px solid #fff; }
          .categories .tab-content .tab-pane .menu-item .img .fav input {
            position: absolute;
            top: -2px;
            right: -2px;
            background: none;
            width: 45px;
            height: 45px;
            border: none;
            outline: none;
            cursor: pointer; }
      .categories .tab-content .tab-pane .menu-item .info p {
        margin-bottom: .2rem;
        font-weight: 600;
        font-size: 1.1rem; }
        .categories .tab-content .tab-pane .menu-item .info p.price {
          color: green;
          font-family: arial, sans-serif;
          margin-bottom: 5px; }
      .categories .tab-content .tab-pane .menu-item .info .action {
        text-align: center; }
        .categories .tab-content .tab-pane .menu-item .info .action button {
          padding: 5px;
          width: 60px;
          height: 30px;
          display: inline-block;
          text-align: center;
          box-shadow: none;
          outline: none;
          cursor: pointer; }
        .categories .tab-content .tab-pane .menu-item .info .action .edit {
            padding: 5px;
            height: 30px;
            display: inline-block;
            text-align: center;
            background: #3d3d3d;
            text-decoration: none;
            color: #fff;
            border-radius: 25px;
            width:60px
        }
    .categories .tab-content .empty {
      border-radius: 5px;
      /*border: 1px solid #FEF6F6;*/
      background: #FCFCFC;
      outline: none; }
      .categories .tab-content .empty h3 {
        color: #000000;
        margin-bottom: 30px; }
      .categories .tab-content .empty .add {
        text-decoration: none;
        color: #000;
        border: 1px solid #ea5b0c;
        padding: 10px 20px;
        border-radius: 25px;
        background: #fff;
        outline: none;
        cursor: pointer;
        transition: .5s; }
        .categories .tab-content .empty .add:hover {
          background: #EA5B0C;
          color: #fff; }

.modal .modal-dialog .modal-content {
  border-radius: 15px; }
  .modal .modal-dialog .modal-content .modal-header .modal-title {
    font-weight: 600;
    color: #000; }
    .modal .modal-dialog .modal-content .modal-header .modal-title i {
      color: #EA5B0C;
      margin-right: 10px; }
  .modal .modal-dialog .modal-content .modal-header .close {
    text-shadow: none;
    font-size: 36px;
    font-weight: 300;
    margin: -11px 0.3rem 0 auto;
    padding: 0;
    outline: none; }
  .modal .modal-dialog .modal-content .modal-body .close {
    text-shadow: none;
    font-size: 36px;
    font-weight: 300;
    margin: -11px 0.3rem 0 auto;
    padding: 0;
    outline: none; }
  .modal .modal-dialog .modal-content .modal-body .delete {
    text-align: center;
    display: block; }
  .modal .modal-dialog .modal-content .modal-body .form-group {
    margin-bottom: .5rem; }
    .modal .modal-dialog .modal-content .modal-body .form-group label {
      font-size: 0.7rem;
      margin-bottom: .2rem; }
    .modal .modal-dialog .modal-content .modal-body .form-group .form-control {
      border: 1px solid #B8B8B8;
      border-radius: 8px; }
    .modal .modal-dialog .modal-content .modal-body .form-group .btn {
      background: #EA5B0C;
      border-radius: 22px;
      border: none; }
  .modal .modal-dialog .modal-content .modal-body .item-img {
    position: relative; }
    .modal .modal-dialog .modal-content .modal-body .item-img .delete-img {
        width: 40px;
        height: 40px;
        background: #ff7171;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        right: 8px;
        text-align: center;
        color: #ffffff;
        padding: 9px;
        box-shadow: none;
        border: none;
        cursor: pointer;
        outline: none;
    }
        .modal .modal-dialog .modal-content .modal-body .item-img .delete-img:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f1f8";
        }
        .modal .modal-dialog .modal-content .modal-body .item-img .delete-img input {
            position: absolute;
            top: -2px;
            right: -2px;
            background: none;
            width: 45px;
            height: 45px;
            border: none;
            outline: none;
            cursor: pointer;
        }
        .modal .modal-dialog .modal-content .modal-body .item-img .custom-file-upload {
            background: #47ADE2;
            border-radius: 22px !important;
            border: none !important;
            color: #fff;
            text-align: center;
            font-weight: 400;
            font-size: .8rem;
        }
      .modal .modal-dialog .modal-content .modal-body .item-img .custom-file-upload input {
        width: 0;
        border: none;
        outline: none; }
    .modal .modal-dialog .modal-content .modal-body .item-img button {
      text-decoration: none;
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      border-radius: 50%;
      color: #fff;
      top: 8px;
      right: 8px;
      cursor: pointer;
      padding: 8px;
      text-align: center;
      border: none;
      box-shadow: none;
      outline: none; }
  .modal .modal-dialog .modal-content .modal-body .message {
    padding: 2rem; }
    .modal .modal-dialog .modal-content .modal-body .message h3 {
      color: #EA5B0C;
      font-weight: 700; }
    .modal .modal-dialog .modal-content .modal-body .message .action {
      margin-top: 30px; }
      .modal .modal-dialog .modal-content .modal-body .message .action button {
        display: inline-block;
        padding: 10px 30px;
        border: 1px solid #707070;
        margin: 0 10px;
        border-radius: 25px;
        text-decoration: none;
        color: #000;
        transition: .5s;
        cursor: pointer;
        outline: none;
        box-shadow: none;
        background: none; }
        .modal .modal-dialog .modal-content .modal-body .message .action button:hover {
          border: 1px solid #EA5B0C;
          color: #EA5B0C; }
        .modal .modal-dialog .modal-content .modal-body .message .action button.delete {
          background: #EA5B0C;
          color: #fff;
          border: transparent;
          margin-bottom: 20px; }
    .modal .modal-dialog .modal-content .modal-body .message.message-done img {
      margin-bottom: 30px; }
    .modal .modal-dialog .modal-content .modal-body .message.message-done p {
      font-weight: 600; }

.profile {
  padding: 30px 0; }
  .profile form {
    margin-bottom: 50px; }
    .profile form .profile-box {
      padding: 20px;
      background: #f8fdff;
      border: 1px solid #ecf7f9;
      border-radius: 12px;
      margin-bottom: 30px; }
      .profile form .profile-box .form-group {
        margin-bottom: .5rem; }
        .profile form .profile-box .form-group label {
          font-size: 0.7rem;
          margin-bottom: .2rem; }
        .profile form .profile-box .form-group .form-control {
          border: 1px solid #B8B8B8;
          border-radius: 8px; }
    .profile form .profile-images .img {
      background: #fff;
      position: relative;
      border: 1px solid #ededed;
      margin-bottom: 10px;
      border-radius: 12px;
      padding: 10px;
      height: 150px;
      overflow: hidden; }
      .profile form .profile-images .img.bg-img {
        height: 388px; }
        @media (max-width: 576px) {
          .profile form .profile-images .img.bg-img {
            height: auto; } }
      .profile form .profile-images .img .delete-img {
        width: 40px;
        height: 40px;
        background: #ff7171;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        right: 8px;
        text-align: center;
        color: #ffffff;
        padding: 9px;
        box-shadow: none;
        border: none;
        cursor: pointer;
        outline: none; }
        .profile form .profile-images .img .delete-img:before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f1f8"; }
        .profile form .profile-images .img .delete-img input {
          position: absolute;
          top: -2px;
          right: -2px;
          background: none;
          width: 45px;
          height: 45px;
          border: none;
          outline: none;
          cursor: pointer; }
    .profile form .profile-images .custom-file-upload {
      background: #47ADE2;
      border-radius: 22px !important;
      border: none !important;
      color: #fff;
      text-align: center;
      font-weight: 600; }
      .profile form .profile-images .custom-file-upload input {
        width: 0;
        border: none;
        outline: none; }
    .profile form .btn-info {
      background: #47ADE2;
      border-radius: 22px;
      border: none; }

footer {
  background: #3D3D3D;
  padding: 15px;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin-top: 30px; }
  @media (max-width: 576px) {
    footer {
      text-align: center;
      position: static; } }
  footer .copyright span {
    color: #CBCBCB;
    font-size: 13px; }
    footer .copyright span a {
      text-decoration: none;
      color: #EA5B0C; }
  footer .social {
    text-align: right; }
    @media (max-width: 576px) {
      footer .social {
        text-align: center;
        margin-top: 10px; } }
    footer .social a {
      text-decoration: none;
      color: #fff;
      padding: 5px 10px;
      transition: .5s; }
      footer .social a:hover {
        color: #EA5B0C; }

.spinner {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
  transition: .5s; }
  .spinner .spinner-border {
    display: block;
    width: 50px;
    height: 50px;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-top: 1px solid transparent;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    animation: spinner 1s linear infinite;
    position: relative; }

@keyframes spinner {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
